body {
    margin: 0;
    overflow-x: hidden;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}


.container-main {
    margin-top: 24px;
    padding: 78px 1rem 1rem;
    background-color: #f6f6f6;
    min-height: 100vh;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
}

.card-box {
    background-color: white;
    margin: 1rem auto;
    padding: 1rem;
    width: 324px;
    height: 97px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.circle {
    border-radius: 50%;
    width: 72px;
    height: 72px;
    background-color: #F4F7FE;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.links a {
    text-decoration: none;
}



